@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@800&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #3a3a3a;
}

/* Logo and Navbar */

h1, h2 {
    font-family: 'Fredoka One', sans-serif;
    color: #1C6758;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 350%;
    margin-left: 30px;
    color: #1C6758;
    font-family: 'Fredoka One', sans-serif;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu-outer {
    float: right;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
    color: #1C6758;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu li:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 3px solid #3a3a3a;
}

header {
    height: 80px;
    background-color: #FFD8A9;
}

/* Home page hero image */

#hero-outer {
    width: 100%;
    position: relative;
}

#cover-text {
    position: absolute;
    bottom: 190px;
    left: 15%;
    text-align: center;
    font-size: 1.5rem;
}

#hero-image {
    height: 1000px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

#about-text {
    text-align: center;
    height: auto;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#about-text p {
    text-align: justify;
}

#about-text h2 {
    margin-bottom: 30px;
}

/* Caves Site Page */

#cave-sites {
    width: 100vw;
    height: auto;
    background-color: #FDEEDC;
    padding-bottom: 50px;
    overflow: hidden;
}

#cave-sites h2 {
    text-align: center;
    padding: 100px;
}

.cave-site-one {
    overflow: hidden;
}

.cave-site-two {
    overflow: hidden;
}

.cave-site-three {
    overflow: hidden;
}

.cave-img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.cave-site-text {
    width: 500px;
    display: inline-block;
    text-align: justify;
    padding: 100px;
}

.cave-site-one-text, .cave-site-three-text, .cave-img-two {
    float: left;
    margin-left: 20%;
}

.cave-site-two-text, .cave-img-one, .cave-img-three {
    float: right;
    margin-right: 20%;
}

/* Contact form */

#main-contact {
    background-image: url(../images/pexels-m-venter-1659437.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    position: relative;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #1C6758;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #3D8361;
  }
  
  .contact-container {
    width: 500px;
    background-color: rgba(255, 216, 169, 0.5);
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


/* Google map in footer*/

#visit-us-main {
    padding-bottom: 50px;
    background-color: #fdeedc;
}

.visit-us {
    text-align: center;
    padding: 20px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 200px;
    width: 70%;
    margin: 0 auto;
}

.gmap_canvas iframe {
    height: 200px;
    width: 100%;
    
}


/* footer */

footer {
    height: auto;
    background-color: #D6CDA4;
    padding: 20px 0 20px;
}

footer h2 {
    text-align: center;
    padding-top: 20px;
}


.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
    
}

.social-media i {
    font-size: 150%;
    margin: 40px 30px 30px;
    padding: 0 50px 0;
    color: #3a3a3a;

}

/* Media queries */

@media screen and (max-width: 753px) {
    header {
        height: 160px;
    }

    #menu-outer {
        float: left;
        margin-left: 30px;
    }

    
    #about-text {
        width: 90%;
    }
}

@media screen and (max-width: 473px) {
    header {
        height: 240px;
    }

    #menu-outer, #logo {
        float: left;
        margin-left: 30px;
    }

}

@media screen and (max-width: 2000px) {
    
    .cave-site-one-text, .cave-site-three-text, .cave-img-two {
        float: left;
        margin-left: 15%;
    }
    
    .cave-site-two-text, .cave-img-one, .cave-img-three {
        float: right;
        margin-right: 15%;
    }
}

@media screen and (max-width: 1714px) {
    
    .cave-site-one-text, .cave-site-three-text, .cave-img-two {
        float: left;
        margin-left: 10%;
    }
    
    .cave-site-two-text, .cave-img-one, .cave-img-three {
        float: right;
        margin-right: 10%;
    }
}

@media screen and (max-width: 1500px) {
    
    .cave-site-one-text, .cave-site-three-text, .cave-img-two {
        float: left;
        margin-left: 5%;
    }
    
    .cave-site-two-text, .cave-img-one, .cave-img-three {
        float: right;
        margin-right: 5%;
    }
}

@media screen and (max-width: 1332px) {
    
    .cave-site-one-text, .cave-site-three-text, .cave-img-two, .cave-site-two-text, .cave-img-one, .cave-img-three {
        float: none;
        display: table;
        margin: 80px auto;
        padding: 0;
    }
}


@media screen and (max-width: 550px) {
    
    .cave-site-text {
        width: 85%;
    }

    .cave-img {
        aspect-ratio: 1 / 1;
        width: 95vw;
        height: 95vw;
    }
    
    .contact-container {
        width: 85%;
    }

    .gmap_canvas {
        width: 85%;
    }

}